* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

.hero {
  background-color: aqua;
  height: 100vh;
}

.hero-container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1440px;
  background-color: purple;
  height: 883px;
  margin: 0 auto;
}

.navbar {
  top: 20px;
  height: 26px;
  width: 100%;
  position: absolute;
  background-color: #ffbd7f;
}

.hero-left-container {
  width: 50%;
  height: 286px;
  background-color: white;
}

.hero-right-container {
  width: 50%;
  height: 286px;
  background-color: yellow;
}

.text-container {
  top: 286px;
  position: absolute;
  display: flex;
  width: 100%;
  background-color: pink;
  margin: 0 auto;
}

h1 {
  padding-top: 31px;
  padding-left: 25px;
  font-size: 4rem;
}

p {
  padding-top: 32px;
  padding-left: 25px;
  padding-bottom: 81px;
  font-size: 2rem;
}

@media screen and (min-width: 600px) {
  .hero-left-container {
    width: 64%;
    height: 100%;
  }

  .hero-right-container {
    width: 36%;
    height: 100%;
  }

  .text-container {
    display: none;
  }

}
