:root {
  --white: #fff;
  --albescent-white: #f6ebda;
  --macaroni-cheese: #ffbd7f;
  --light-yellow: #f6ebda;
  --sepia-skin: #a0583c;
  --roman-coffee: #835e4c;
  --brown-tumbleweed: #2f2105;
  --black: #000;
  --title-font: 3.5rem;
  --title-font-weight: 600;
  --subtitle-font: 2.6rem;
  --text-font: 1.6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

.hero {
  position: relative;
  min-width: 400px;
  height: 860px;
}

.hero .hero-background-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--macaroni-cheese);
}

.hero-container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-cup-of-coffee {
  position: absolute;
  top: calc(50% - 94px);
  left: calc(50% - 94px);
  z-index: 1;
  width: 188px;
  height: 188px;
}

@media screen and (min-width: 600px) {
  .hero-cup-of-coffee {
    top: calc(50% - 193px);
    left: calc(70% - 193px);
    z-index: 1;
    width: 286px;
    height: 286px;
  }
}

@media screen and (min-width: 1125px) {
  .hero-cup-of-coffee {
    top: calc(44% - 193px);
    left: calc(64% - 193px);
    z-index: 1;
    width: 386px;
    height: 386px;
  }
}

.hero-content {
  position: relative;
  width: 100%;
  height: 288px;
  display: flex;
}

@media screen and (min-width: 600px) {
  .hero-content {
    height: 860px;
  }
}

.navbar {
  z-index: 1;
  top: 22px;
  height: 44px;
  width: 100%;
  position: absolute;
}

@media screen and (min-width: 600px) {
  .navbar {
    height: 64px;
    width: 100%;
  }
}

.navbar-content-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-left: 22px;
  padding-right: 22px;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .hero-search-cart {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;
  }
}

@media screen and (min-width: 1125px) {
  .navbar-content-wrapper {
    padding-left: 134px;
    padding-right: 134px;
  }
}

.nav-bar-text {
  display: none;
}

@media screen and (min-width: 600px) {
  .nav-bar-text {
    font-size: var(--text-font);
    display: flex;
    gap: max(64px, 2vw);
  }
}

.hero-coffee-bean {
  width: 28px;
  height: 44px;
}

@media screen and (min-width: 1125px) {
  .hero-coffee-bean {
    width: 40px;
    height: 64px;
  }
}

.hero-search-icon {
  display: none;
}

.search-bar-text {
  display: none;
}

@media screen and (min-width: 1125px) {
  .hero-search-bar {
    position: relative;
    width: 222px;
    height: 42px;
    background-color: var(--white);
    border-radius: 20px;
  }

  .hero-search-icon {
    position: absolute;
    display: block;
    top: 10px;
    left: 15px;
  }

  .search-bar-text {
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: var(--text-font);
    display: block;
  }
}

.hero-menu-burger {
  position: absolute;
  top: calc(50% - 11px);
  height: 22px;
  width: 32px;
  right: 22px;
}

.hero-left-container {
  width: 50%;
  height: 100%;
  background-color: var(--white);
  position: relative;
}

.hero-left-container .hero-title {
  display: none;
}

.hero-left-container .hero-subtitle {
  display: none;
}

@media screen and (min-width: 600px) {
  .hero-left-container {
    width: 64%;
    height: 100%;
    padding-left: 22px;
    padding-top: 235px;
  }

  .hero-left-container .hero-title {
    display: block;
    max-width: 450px;
    font-size: 3.5rem;
  }

  .hero-left-container .hero-subtitle {
    display: block;
    max-width: 380px;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1125px) {
  .hero-left-container {
    padding-left: 134px;
  }
}

.hero-right-container {
  width: 50%;
  height: 100%;
  background-color: var(--macaroni-cheese);
}

.hero-coffee-beans {
  display: none;
}

.hero-cart {
  display: none;
}

@media screen and (min-width: 600px) {
  .hero-cart {
    height: 25px;
    width: 25px;
    top: calc(50% - 15px);
    display: block;
  }
}

.hero-text-container {
  width: 100%;
  min-height: 315px;
  width: 100%;
  background-color: var(--white);
  padding: 25px;
}

.hero-title {
  font-size: var(--title-font);
  padding-bottom: 20px;
  font-weight: var(--title-font-weight);
}

.hero-subtitle {
  font-size: var(--text-font);
  margin-bottom: 25px;
}

.hero-color-change {
  color: var(--macaroni-cheese);
}

.hero-button {
  padding-left: 15px;
  font-weight: var(--title-font-weight);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  max-width: 140px;
  background-color: var(--brown-tumbleweed);
  border-radius: 24px;
}

.hero-button span {
  color: var(--white);
}

.button {
  position: relative;
  padding-left: 15px;
  font-weight: var(--title-font-weight);
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  width: 100%;
  max-width: 140px;
  background-color: var(--brown-tumbleweed);
  border-radius: 24px;
}

.button span {
  color: var(--white);
}

.hero-left-container .button {
  display: none;
}

.text-container .button {
  top: 224px;
}

.button-circle {
  width: 100%;
  max-width: 22px;
  height: 22px;
  background-color: var(--macaroni-cheese);
  border-radius: 24px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container {
  height: 80%;
  width: 80%;
}

.hero-footer {
  width: 100%;
  height: 313px;
  background-color: var(--light-yellow);
  padding-top: 25px;
  display: grid;
  grid-template-columns: 70px 70px;
  column-gap: 88px;
  justify-content: center;
}

.product {
  display: flex;
  flex-flow: row wrap;
}

.product figure {
  width: fit-content;
  height: fit-content;
}

.product span {
  font-size: var(--text-font);
  font-weight: var(--title-font-weight);
  text-align: center;
  width: 100%;
  margin-top: -20px;
}

.product-color-change {
  color: var(--roman-coffee);
}

.development {
  min-width: 300px;
}

.development-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.cold-coffee {
  height: 535px;
  background: var(--white);
  display: flex;
  font-size: var(--subtitle-font);
  flex-direction: column;
  font-weight: var(--title-font-weight);
}

.cold-coffee-text {
  margin-top: 20px;
  margin-left: 20px;
}

.cold-coffee-underline {
  text-decoration: underline;
  text-decoration-color: var(--macaroni-cheese);
}

button {
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.container {
  margin-top: 25px;
  width: 100%;
  height: 420px;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.carousel-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 50px 0;
  transition: all 0.25s ease-in;
}

.carousel-view .item-list {
  max-width: 300px;
  padding: 50px 10px;
  display: flex;
  gap: 50px;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in;
  scrollbar-width: none;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.prev-btn {
  background: none;
  cursor: pointer;
}

.next-btn {
  background: none;
  cursor: pointer;
}

.carousel-button {
  width: 50px;
  fill: var(--roman-coffee);
}

.item {
  scroll-snap-align: center;
  min-width: 260px;
  max-height: 420px;
  background: var(--roman-coffee);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item span {
  color: var(--white);
}

.item-title {
  font-size: 2.4rem;
  font-weight: var(--title-font-weight);
  margin-top: 5px;
}

.item-content {
  font-size: 1.4rem;
  font-weight: 200;
  margin-top: 5px;
  min-height: 150px;
}

.item-price {
  font-size: 2rem;
  font-weight: var(--title-font-weight);
}

.item-price-button {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item img {
  display: block;
  width: 225px;
  height: 150px;
  border-radius: 20px;
}

.item-button {
  width: 120px;
  height: 38px;
  background-color: var(--sepia-skin);
  color: var(--white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.reward-program {
  width: 100%;
  height: 130px;
  background-color: var(--light-yellow);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.star-icon {
  width: 65px;
  height: 45px;
  margin-left: 25px;
}

.reward-program-text {
  display: flex;
  flex-direction: column;
}

.sign-up {
  font-size: var(--subtitle-font);
  margin-left: 15px;
  font-weight: 500;
}

.learn-more {
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: var(--text-font);
  margin-top: 5px;
}

.arrow-icon {
  width: 20px;
  height: 15px;
  margin-left: 15px;
}

.special-menu {
  display: flex;
  font-size: var(--subtitle-font);
  flex-direction: column;
  font-weight: var(--title-font-weight);
  height: 600px;
  background-color: var(--white);
  overflow-x: scroll;
  scrollbar-width: none;
}

.special-menu-text {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.special-menu-underline {
  text-decoration: underline;
  text-decoration-color: var(--macaroni-cheese);
}

.grid-container {
  font-size: 2.4rem;
  width: fit-content;
  margin: 0 28px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 242px);
  grid-template-rows: repeat(2, 240px);
  grid-gap: 15px;
}

.special-menu-product {
  background-color: var(--roman-coffee);
  color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 8px;
}

.special-menu-product img {
  display: block;
  width: 225px;
  height: 150px;
  border-radius: 20px;
}

.product-price-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.special-menu-button {
  width: 112px;
  height: 34px;
  background-color: var(--sepia-skin);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 400;
}

.about-us {
  width: 100%;
  height: 600px;
  background-color: var(--light-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.about-us-img {
  background-color: var(--white);
  border-radius: 20px;
  padding: 5px;
}

.about-us-img img {
  display: block;
  width: 280px;
  height: 230px;
  border-radius: 20px;
}

.about-us-title {
  font-weight: var(--title-font-weight);
  font-size: var(--subtitle-font);
  margin-top: 25px;
}

.about-us-underline {
  text-decoration: underline;
  text-decoration-color: var(--macaroni-cheese);
}

.about-us-subtitle {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-us-content {
  font-size: var(--text-font);
  margin-bottom: 20px;
}

.about-us .button {
  font-size: var(--text-font);
  max-width: 160px;
  justify-content: left;
  color: var(--macaroni-cheese);
}

.end {
  min-width: 300px;
}

.end-container {
  width: 100%;
  height: 540px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--white);
  padding-left: 25px;
  display: flex;
  flex-direction: column;
}

.end-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 25px;
  padding-left: 25px;
}

.hero-coffee-bean2 {
  width: 40px;
  height: 64px;
}

.end-title-text {
  font-weight: var(--title-font-weight);
  font-size: var(--subtitle-font);
  margin-left: 25px;
}

.divisor {
  width: 300px;
  height: 2px;
  background-color: lightgray;
  margin-left: 50px;
  margin-top: 20px;
}

.end-nav-bar {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  font-weight: var(--title-font-weight);
  margin-top: 20px;
  margin-bottom: 20px;
}

.end-nav-bar span {
  margin-bottom: 20px;
  color: var(--roman-coffee);
}

.newsletter {
  font-size: 1.8rem;
  font-weight: var(--title-font-weight);
  margin-bottom: 20px;
}

.email {
  margin-top: 20px;
  height: 56px;
  max-width: 318px;
  border-radius: 5px;
  display: flex;
}

.email span {
  margin-left: 20px;
  font-size: 1.8rem;
}

.email-space {
  display: flex;
  align-items: center;
  height: 100%;
  width: 60%;
  background-color: var(--light-yellow);
  color: var(--roman-coffee);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.email-button {
  display: flex;
  align-items: center;
  height: 100%;
  width: 40%;
  background-color: var(--roman-coffee);
  color: var(--white);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.social-media {
  margin-top: 25px;
  margin-left: -15px;
  justify-content: center;
  width: 100%;
  height: 25px;
  display: grid;
  grid-template-columns: 25px 25px 25px;
  grid-template-rows: 25px;
  column-gap: 20px;
}

@media screen and (min-width: 600px) {
  .nav-bar-color-change {
    color: var(--macaroni-cheese);
  }

  .hero-menu-burger {
    display: none;
  }


  .hero-left-container .button {
    display: block;
    display: flex;
    height: 46px;
    width: 100%;
    max-width: 170px;
  }

  .hero-right-container {
    width: 36%;
    height: 100%;
    position: relative;
  }

  .hero-coffee-beans {
    position: absolute;
    display: block;
    right: 0;
  }

  .hero-footer {
    height: 200px;
    position: absolute;
    top: 760px;
    left: 150px;
    width: 1150px;
    border-radius: 75px;
    z-index: 1;
    padding-top: 35px;
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    column-gap: 150px;
  }

  .product {
    justify-content: center;
  }

  .hero-text-container {
    display: none;
  }

  .cold-coffee {
    height: 772px;
    font-size: 3.4rem;
  }

  .cold-coffee-text {
    margin-top: 160px;
    margin-left: 136px;
  }

  .container {
    margin-top: 60px;
  }

  .carousel-view .item-list {
    max-width: 1200px;
  }

  .reward-program {
    height: 195px;
  }

  .star-icon {
    width: 100px;
    height: 100px;
    margin-left: 140px;
  }

  .sign-up {
    font-size: 4rem;
    margin-left: 30px;
  }

  .learn-more {
    margin-left: 30px;
    font-size: 3rem;
  }

  .arrow-icon {
    width: 40px;
    height: 35px;
    margin-left: 30px;
  }

  .special-menu {
    height: 760px;
  }

  .special-menu-text {
    margin-left: 136px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 3.4rem;
  }

  .grid-container {
    padding-left: 120px;
    grid-template-columns: repeat(4, 260px);
    grid-template-rows: repeat(2, 266px);
    grid-gap: 40px;
  }

  .special-menu-product {
    padding: 15px;
  }

  .special-menu-product img {
    width: 230px;
  }

  .product-text {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .special-menu-button {
    width: 120px;
    height: 40px;
  }

  .about-us {
    height: 485px;
    flex-direction: row;
  }

  .about-us-img {
    margin-left: 120px;
  }

  .about-us-img img {
    width: 468px;
    height: 385px;
  }

  .about-us-text {
    margin-left: 150px;
    max-width: 500px;
  }

  .about-us-title {
    font-size: 3.4rem;
  }

  .about-us-subtitle {
    font-size: var(--subtitle-font);
  }

  .about-us-content {
    font-size: 1.7rem;
  }

  .end-container {
    height: 460px;
    padding-left: 150px;
  }

  .end-container-wrapper {
    width: 100%;
    height: 460px;
    max-width: 1440px;
    position: relative;
  }

  .end-title {
    padding-top: 65px;
  }

  .end-title-text {
    font-size: 3rem;
  }

  .divisor {
    width: 1000px;
    margin-left: 100px;
  }

  .end-nav-bar {
    padding-left: 100px;
    font-size: 2rem;
    margin-top: 30px;
    font-weight: 500;
  }

  .newsletter {
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    top: 210px;
    left: 775px;
  }

  .email {
    position: absolute;
    top: 240px;
    left: 775px;
    width: 320px;
  }

  .social-media {
    position: absolute;
    top: 60px;
    left: 950px;
    width: fit-content;
  }
}
