* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

.hero {
  background-color: aqua;
  min-width: 300px
}

.hero-container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  background-color: purple;
  margin: 0 auto;
}

.hero-cup-of-coffee {
  position: absolute;
  top: calc(50% - 94px);
  left: calc(50% - 94px);
  z-index: 1;
  width: 188px;
  height: 188px;
}

.hero-content {
  position: relative;
  width: 100%;
  height: 288px;
  display: flex;
}

.navbar {
  z-index: 1;
  top: 22px;
  height: 44px;
  width: 100%;
  position: absolute;
  background-color: #ffbd7f;
}

.navbar-content-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.nav-bar-text {
  display: none;
}

.hero-coffee-bean {
  position: absolute;
  width: 28px;
  height: 44px;
  left: 22px;
}

.hero-menu-burger {
  position: absolute;
  top: calc(50% - 11px);
  height: 22px;
  width: 32px;
  right: 22px;
}

.hero-left-container {
  width: 50%;
  height: 100%;
  background-color: white;
  position: relative;
}

.hero-left-container .hero-title {
  display: none;
}

.hero-left-container .hero-subtitle {
  display: none;
}

.hero-right-container {
  width: 50%;
  height: 100%;
  background-color: yellow;
}

.hero-coffee-beans {
  display: none;
}

.hero-cart {
  display: none;
}

.hero-search-icon {
  display: none;
}

.search-bar-text {
  display: none;
}

.hero-text-container {
  width: 100%;
  min-height: 315px;
  width: 100%;
  background-color: pink;
  padding: 25px;
}

.hero-title {
  font-size: 3.5rem;
  padding-bottom: 20px;
  font-weight: 600;
}

.hero-subtitle {
  font-size: 1.6rem;
  margin-bottom: 25px;
}

.hero-color-change {
  color: blue;
}

.hero-button {
  padding-left: 15px;
  font-weight: 600;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  max-width: 140px;
  background-color: red;
  border-radius: 24px;
}

.button {
  position: relative;
  padding-left: 15px;
  font-weight: 600;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  width: 100%;
  max-width: 140px;
  background-color: red;
  border-radius: 24px;
}

.hero-left-container .button {
  display: none;
}

.text-container .button {
  top: 224px;
}

.button-circle {
  width: 100%;
  max-width: 22px;
  height: 22px;
  background-color: aliceblue;
  border-radius: 24px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container {
  height: 80%;
  width: 80%;
}

.hero-footer {
  width: 100%;
  height: 313px;
  background-color: green;
  padding-top: 25px;
  display: grid;
  grid-template-columns: 70px 70px;
  column-gap: 88px;
  justify-content: center;
}

.product {
  display: flex;
  flex-flow: row wrap;
  background-color: #ffbd7f;
}

.product figure {
  width: fit-content;
  height: fit-content;
}

.product span {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin-top: -20px;
}

.product-color-change {
  color: blue;
}

.development {
  background-color: hotpink;
  min-width: 300px;
}

.development-container {
  width: 100%;
  max-width: 1440px;
  background-color: seagreen;
  margin: 0 auto;
}

.cold-coffee {
  height: 535px;
  background: firebrick;
  display: flex;
  font-size: 2.6rem;
  flex-direction: column;
  font-weight: 600;
}

.cold-coffee-text {
  margin-top: 20px;
  margin-left: 20px;
}

.cold-coffee-underline {
  text-decoration: underline;
}

button {
  border: none;
  cursor: pointer;
  color: white;
  background: none;
  transition: all .3s ease-in-out;
}

.container {
  margin-top: 25px;
  width: 100%;
  height: 420px;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.carousel-view {
display: flex;
justify-content: space-between;
align-items: center;
gap: 10px;
padding: 50px 0;
transition: all 0.25s ease-in;
}

.carousel-view .item-list {
max-width: 300px;
padding: 50px 10px;
display: flex;
gap: 50px;
scroll-behavior: smooth;
transition: all 0.25s ease-in;
scrollbar-width: none;
overflow: auto;
scroll-snap-type: x mandatory;
}

.prev-btn {
background: none;
cursor: pointer;
}

.next-btn {
cursor: pointer;
}

.carousel-button {
  width: 50px;
  fill: red;
}

.item {
  scroll-snap-align: center;
  min-width: 260px;
  background: lawngreen;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 5px;
}

.item-content {
  font-size: 1.4rem;
  font-weight: 200;
  margin-top: 5px;
  min-height: 150px;
}

.item-price {
  font-size: 2rem;
  font-weight: 600;
}

.item-price-button {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item img {
  display: block;
  width: 225px;
  height: 150px;
  border-radius: 20px;
}

.item-button {
  width: 120px;
  height: 38px;
  background-color: pink;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.reward-program {
  width: 100%;
  height: 130px;
  background-color: blue;
  display: flex;
  align-items: center;
}

.star-icon {
  width: 45px;
  height: 45px;
  margin-left: 25px;
}

.special-menu {
  display: flex;
  height: 600px;
  background-color: chocolate;
  padding-top: 80px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.grid-container {
  width: fit-content;
  margin: 0 28px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 242px);
  grid-template-rows: repeat(2, 240px);
  grid-gap: 15px;
}

.special-menu-product {
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 8px;
}

.special-menu-product img {
  display: block;
  width: 225px;
  height: 150px;
  border-radius: 20px;
}

.special-menu-button {
  width: 112px;
  height: 34px;
  margin-top: 40px;
  margin-left: 114px;
  background-color: forestgreen;
  border-radius: 10px;
}

.about-us {
  width: 100%;
  height: 600px;
  background-color: salmon;
  position: relative;
  padding: 25px;
}

.about-us-img {
  position: absolute;
  top: 25px;
  left: 70px;
  background-color: #ffbd7f;
  border-radius: 20px;
  padding: 5px;
}

.about-us-img img {
  display: block;
  width: 280px;
  height: 230px;
  border-radius: 20px;
}

.about-us .button {
  top: 515px;
}

.end {
  background-color: khaki;
  min-width: 300px;
}

.end-container {
  width: 100%;
  height: 540px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: gold;
  position: relative;
}

.hero-coffee-bean2 {
  position: absolute;
  width: 40px;
  height: 64px;
  left: 25px;
  top: 25px;
}

.divisor {
  position: absolute;
  top: 100px;
  left: 60px;
  width: 300px;
  height: 2px;
  background-color: black;
}

.email {
  top: 365px;
  left: 25px;
  position: absolute;
  display: flex;
  height: 56px;
  width: 100%;
  max-width: 318px;
  background-color: teal;
  border-radius: 10px;
}

.email-button {
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin-left: 205px;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.social-media {
  position: absolute;
  width: 115px;
  height: 25px;
  top: 480px;
  left: 150px;
  display: grid;
  grid-template-columns: 25px 25px 25px;
  grid-template-rows: 25px;
  column-gap: 20px;
}

@media screen and (min-width: 600px) {
  
  .hero-content {
    height: 860px;
  }

  .navbar {
    height: 64px;
  }

  .nav-bar-text {
    position: absolute;
    top: 20px;
    left: 550px;
    font-size: 1.6rem;
    display: block;
    background-color: aqua;
  }

  .nav-bar-text span {
    padding-right: 65px;
  }
  
  .nav-bar-color-change {
    color: blue;
  }

  .hero-coffee-bean {
    position: absolute;
    width: 40px;
    height: 64px;
    left: 134px;
  }

  .hero-menu-burger {
    display: none;
  }

  .hero-cup-of-coffee {
    top: calc(44% - 193px);
    left: calc(64% - 193px);
    z-index: 1;
    width: 386px;
    height: 386px;
  }

  .hero-left-container {
    width: 64%;
    height: 100%;
    padding-left: 136px;
    padding-top: 235px;
  }

  .hero-left-container .hero-title {
    display: block;
    width: 450px;
    font-size: 4.5rem;
  }
  
  .hero-left-container .hero-subtitle {
    display: block;
    width: 380px;
    font-size: 1.8rem;
  }

  .hero-left-container .button {
    display: block;
    display: flex;
    height: 46px;
    width: 100%;
    max-width: 170px;
  }

  .hero-right-container {
    width: 36%;
    height: 100%;
    position: relative;
  }

  .hero-coffee-beans {
    position: absolute;
    display: block;
    right: 0;
  }

  .hero-cart {
    position: absolute;
    top: calc(50% - 15px);
    right: 148px;
    display: block;
  }

  .hero-search-bar {
    position: absolute;
    top: calc(50% - 21px);
    width: 222px;
    height: 42px;
    background-color: aliceblue;
    border-radius: 20px;
    right: 204px;
  }

  .hero-search-icon {
    position: absolute;
    display: block;
    top: 10px;
    left: 15px;
  }

  .search-bar-text {
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: 1.6rem;
    display: block;
    background-color: aqua;
  }
  
  .hero-footer {
    height: 200px;
    position: absolute;
    top: 760px;
    left: 150px;
    width: 1150px;
    border-radius: 75px;
    z-index: 1;
    padding-top: 35px;
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    column-gap: 150px;
  }
  
  .product {
    justify-content: center;
  }

  .hero-text-container {
    display: none;
  }

  .cold-coffee {
    height: 772px;
    font-size: 3.4rem;
  }
  
  .cold-coffee-text {
    margin-top: 160px;
    margin-left: 136px;
  }
  
  .container {
    margin-top: 60px;
  }

  .carousel-view .item-list {
    max-width: 1200px;
  }

  .reward-program {
    height: 195px;
  }

  .star-icon {
    width: 100px;
    height: 100px;
    margin-left: 140px;
  }

  .special-menu {
    height: 760px;
    padding-top: 140px;
  }

  .grid-container {
    padding-left: 120px;
    grid-template-columns: repeat(4, 260px);
    grid-template-rows: repeat(2, 266px);
    grid-gap: 40px;
  }

  .special-menu-product {
    padding: 15px;
  }

  .special-menu-product img {
    width: 230px;
  }

  .special-menu-button {
    width: 120px;
    height: 40px;
    margin-top: 50px;
    margin-left: 114px;
  }

  .about-us {
    height: 485px;
  }

  .about-us-img {
    top: 40px;
    left: 150px;
  }
  
  .about-us-img img {
    width: 468px;
    height: 385px;
  }

  .about-us .button {
    top: 340px;
    left: 730px;
    height: 40px;
    width: 100%;
    max-width: 144px;
  }

  .end-container{
    height: 460px;
  }

  .hero-coffee-bean2 {
    left: 136px;
    top: 65px;
  }

  .divisor {
    top: 170px;
    left: 200px;
    width: 1100px;
  }

  .email {
    top: 250px;
    left: 922px;
  }

  .social-media {
    top: 85px;
    left: 1100px;
  }
}


